#bloc-7 .bloc-lg .row .col-sm-6 {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 auto;
    justify-content: center;
    padding: 1rem 3rem;
}


.form-group {
	grid-area: form;
}
.contact {
	grid-area: contact;
}
#adresse{
	display: flex;
	justify-content: center;
	text-align: left;
	margin:3rem;
}
#bloc-7 .bloc-lg {
	padding-bottom: 3rem;
	justify-content: center;
	width: 50%;
}
#bloc-7 .bloc-lg .row {
	display: grid;
}


#bloc-7 .bloc-lg .row .col-sm-6 p {
	font-size: 1.6rem;
	padding-top: 1rem;
	line-height: 2.2rem
}
#bloc-7 .bloc-lg form {
	padding-right: 0
}
.tight-width-whitespace {
	font-size: 1.4rem
}
#bloc-8 p {
    color: #424242!important;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 1rem 2rem;
}

